    <main>
        <div class="hero">
            <div>
                <h1><%= heading %></h1>
                <p><%= paragraph %></p>
                <ul>
                    <li><button onclick="window.location.href='<%= buttonLink %>';"><%= button %></button></li>
                </ul>
            </div>
            <figure>
                <img src="img/<%= img %>" alt="flight">
            </figure>
        </div>
    </main>